{% extends "base.html" %}

        {% block content %}

        <img src="../static/imgs/capa.png" alt="capa" id="img-capa">
        
        <h1>Sobre a Universidade</h1>
        
            <p class="place-holder-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?</p>

            <p class="direitos">Todos os direitos reservados</p>
                
        {% endblock %}