{% extends "base.html" %}

    {% block content %}
        
        <h1>Quem Somos</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?</p>

        <h2>5 Motivos para estudar</h2>

        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
                
        <hr/>

        <h2>Objetivos</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates iste nobis quaerat tenetur assumenda, est ipsa. Beatae rerum laborum aliquid provident ea, iure quasi eaque eum fugiat excepturi explicabo debitis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates iste nobis quaerat tenetur assumenda, est ipsa. Beatae rerum laborum aliquid provident ea, iure quasi eaque eum fugiat excepturi explicabo debitis?</p>

        <p class="direitos">Todos os direitos revervados</p>

        <style>
            body {
                background-image: none;
            }
        </style>

    {% endblock %}